{% extends "base.html" %}

{% block title %}{{ SITE_TITLE }} | Vote{% endblock %}

{% block body_div %}
    <div class="col-sm-12"><h1>{{ SITE_TITLE }}</h1></div>
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>{{ poll.question }}</h2>
                <h5>{{ poll.subtext }}</h5>
                <h4>
                    <small>Opened: {{ poll.open_date }}</small>
                </h4>
            </div>
            <div class="panel-body">
                <form action="http://{{ host }}/poll/{{ poll.id }}/vote" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>Email: </label>
                        <input type="email" name="email" class="form-control" placeholder="Enter your email address"
                               required/>
                    </div>
                    <div class="radio">
                        {% for choice in choices %}
                            <label>
                                <input type="radio" name="choice" value="{{ choice.pk }}" required/> {{ choice.answer }}
                            </label><br/>
                        {% endfor %}
                    </div>
                    <a href="http://{{ host }}/poll" class="btn btn-default">Back</a>
                    <input type="submit" class="btn btn-default" value="Vote">
                </form>
            </div>
        </div>
    </div>
{% endblock %}